<% if (typeof user !== 'undefined' && user) { %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">JHD26</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto">
        <% if (['super_admin', 'admin_event'].includes(user.role)) { %>
          <li class="nav-item"><a class="nav-link" href="/admin/event">Event</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/ruangan">Ruangan</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/sesi">Sesi</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/peserta">Peserta</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/laporan">Laporan</a></li>
        <% } %>
        <% if (user.role === 'super_admin') { %>
          <li class="nav-item"><a class="nav-link" href="/admin/users">User</a></li>
        <% } %>
        <li class="nav-item"><a class="nav-link" href="/absensi/scan">Scan Absensi</a></li>
      </ul>
      <span class="navbar-text me-3"><%= user.nama %> (<%= user.role %>)</span>
      <form method="post" action="/logout" class="d-flex">
        <button class="btn btn-outline-light btn-sm" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>
<% } %>
