<%- include('../partials/head', { title: 'Akses Ditolak' }) %>
<%- include('../partials/navbar', { user }) %>
<div class="container">
  <div class="alert alert-danger">Anda tidak memiliki akses ke halaman ini.</div>
  <a href="/admin" class="btn btn-secondary">Kembali</a>
</div>
<%- include('../partials/foot') %>
